#carouselExampleSlidesOnly{
    text-align: center;

}

.sticky-footer{
    position: fixed;
    bottom: 0;
}

a{
    color: white;
}

.jumbotron{
    background-image: url("../banner.jpeg");
    background-size: cover;

}

.display-4{
    color: white;
}

.lead{
    color: blue;
}